telegram_token: "you bot_token"
bot_addr: "you bot webhook addres"
bot_port: 8443
api_addr: "127.0.0.1"
cert_path: "cert.pem"
key_path: "privkey.pem"
log:
  file_name: "smart48bot.log"
  level: "error"
text:
  help: "Для отправки сообщения (видео, фото) конкретному пользователю понадобится его ID, который автоматически присваивается всем подключенным к боту.
  Также получения/установка статуса устройства.
  В меню Интеграция приведен пример как послать сообщение. ID пользователя постоянный и не меняется пока бот не будет удален из списка контактов."
  start: "Добро пожаловать!\n\n
Наш Телеграм-бот создан для отправки сообщений пользователям умных домов MimiSmart.
Выберите действие на клавиатуре ниже."
  start_admin: "Запущен бот у нового пользователя. ID: "
  you_id: "Ваш ID: "
  error: "Команда не распознана
  Выберите действие на клавиатуре ниже."
  integration: "Версия 0.0.1\n\n
Умеет отправлять еще фото и видеофайлы. Разработана совместно со скриптом интеграции 0.0.1\n\n
Данные в адрес скрипта https://serv.smart48.ru/api/smart48/ передаются методом POST.\n
Для отправки image: https://serv.smart48.ru/api/smart48/image/?file=имя_файла&chat_id=id_получателя&text=текст_сообщения\n
Для отправки video: https://serv.smart48.ru/api/smart48/video/?file=имя_файла&chat_id=id_получателя&text=текст_сообщения\n
Для отправки file: https://serv.smart48.ru/api/smart48/file/?file=имя_файла&chat_id=id_получателя&text=текст_сообщения\n
Для отправки текста: https://serv.smart48.ru/api/smart48/msg/?chat_id=id_получателя&text=текст_сообщения\n

\n\n
Для Cuarm5 доступны только endpoint hex и tg_hex.php в формате HEX с разделителем ||
id_получателя||текст_сообщения
https://serv.smart48.ru/hex/?hex=сообщение
"
